.DS_Store
libraries/*
modules/contrib/*
modules/custom/*
themes/*

# Custom module exclusions.
!modules/custom/engineering_shared
!modules/custom/iowa_counties
!modules/custom/ovpred_common_modules
!modules/custom/print_block
!modules/custom/sitenow_footer
!modules/custom/uhd_footer

# Custom theme exclusions.
!themes/engineering
!themes/fo_common
!themes/gravitas
!themes/ovpr_common
!themes/ovpred
!themes/ovpred_admin
!themes/ovpred_compliance
!themes/parallaxy
!themes/stellar

# Custom library exclusions.
!libraries/modernizr
