.DS_Store
libraries/*
modules/contrib/*
modules/custom/*
themes/*

# Custom module exclusions.
!modules/custom/iowa_counties
!modules/custom/ovpred_common_modules
!modules/custom/print_block

# Custom theme exclusions.
!themes/fo_common
!themes/gravitas
!themes/ovpr_common
!themes/ovpred
!themes/parallaxy
!themes/uhd_base
!themes/stellar
