/*
Error: Invalid CSS after "  }": expected selector or at-rule, was "}"
        on line 260 of /Users/genjohnson/acquia/uiowa703/docroot/profiles/sitenow/themes/fo_common/sass/global.styles.scss

255: 
256:     .block {
257:       margin-bottom: 0;
258:     }
259:   }
260: }
261: 
262: /*
263:  * Wraps the nav elements
264:  *\/
265: #nav-wrapper {

Backtrace:
/Users/genjohnson/acquia/uiowa703/docroot/profiles/sitenow/themes/fo_common/sass/global.styles.scss:260
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/scss/parser.rb:42:in `parse'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/engine.rb:281:in `render'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/genjohnson/.rvm/gems/ruby-2.2.3/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  }\": expected selector or at-rule, was \"}\"\A         on line 260 of /Users/genjohnson/acquia/uiowa703/docroot/profiles/sitenow/themes/fo_common/sass/global.styles.scss\A \A 255: \A 256:     .block {\A 257:       margin-bottom: 0;\A 258:     }\A 259:   }\A 260: }\A 261: \A 262: /*\A 263:  * Wraps the nav elements\A 264:  */\A 265: #nav-wrapper {"; }
